* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calculator {
  width: 400px;
  margin: 30px auto;
  border: 5px solid rgb(82, 181, 228);
  text-align: center;
  background-image: url("https://image.spreadshirtmedia.net/image-server/v1/compositions/T445A4PA6783PT17X48Y40D156893016W21443H25000/views/2,width=550,height=550,appearanceId=4,backgroundColor=00224C,noPt=true/matrix-guy-fawkes-mask-womens-premium-zip-hoodie.jpg");
  background-size: cover; 
  background-position: center;
  box-shadow: 5px 5px 8px 3px rgba(136, 196, 245, 0.829);
  padding: 30px;
  border-radius: 80px;
}

#display {
  width: 80%;
  padding: 20px;
  margin: 50px auto;
  border: 2px darkgray ridge;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  background: rgb(237, 243, 245);
  font-size: larger;
}

h1 {
  color: rgb(252, 244, 245);
  text-align: center;
  text-shadow: 4px 4px 3px rgb(16, 219, 255);
}

h2 {
  color: blue;
  text-align: center;
}

h3 {
  color: rgb(16, 219, 255);
  height: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-top: auto;
  font-size: 1.2em;
  font-weight: bold;
}

h4 {
  color: aliceblue;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.buttons button {
  border: 2px rgb(6, 12, 6) solid;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  margin: 5px;
  font-size: 20px;
  outline: auto;
  outline-color: rgb(9, 10, 8);
  cursor: pointer;
  background-color: rgba(250, 248, 248, 0.904);
  color: rgb(11, 12, 12);
  font-weight: bold;
}

.clear {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

#clear {
  background: rgb(0, 163, 14);
  color: rgb(238, 227, 227);
}

#operator {
  background-color: rgb(69, 168, 214);
  color: rgb(3, 2, 2);
}

.buttons button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
  background-color: rgb(226, 235, 241);
  box-shadow: 10px 6px 5px rgb(35, 141, 202);
}

/* video background */
#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

section {
  font-size: larger;
}

#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}
